* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  display: block;
  width: 100%;
}

:root {
  --max-width: 1200px;
  --bg-color: rgb(238, 238, 238);
  --header-bg-color: rgb(255, 255, 255);
  --main-bg-color: white;
}

html {
  background-color: var(--bg-color);
}

.width-constrained {
  max-width: var(--max-width);
}

.margin-centered {
  margin-inline: auto;
}

header {
  font-size: 2rem;
  background-color: var(--header-bg-color);
  border-bottom: 2px solid black;
}

nav {
  padding-inline: 2rem;
}

ul {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 100px;
}

.page-buttons {
  display: flex;
  gap: 1rem;
  align-self: stretch;
}

.page-buttons a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  text-decoration-line: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

/* Homepage */
.homepage-main {
  background-color: var(--main-bg-color);
  padding: 1rem;

  display: grid;
  grid-template: repeat(4, 200px) / repeat(4, 1fr);
}

.stripes {
  grid-area: 1 / 1 / 4 / 3;

  background-image: linear-gradient(
    45deg,
    transparent 0 48%,
    rgba(128, 128, 128, 0.514) 48% 52%,
    transparent 52% 100%
  );
  background-size: 3vmin 3vmin;
  z-index: 2;
  filter: blur(2px);
}

.homepage-title {
  font-size: 3rem;
  grid-area: 1 / 2 / 2 / 4;
  background-color: rgb(0, 0, 0);
  color: white;
  display: grid;
  place-content: center;
  z-index: 4;
}

.homepage-text {
  font-size: 1.5rem;
  padding: 0.5rem;
  grid-area: 2 / 3 / 4 / 4;
  z-index: 3;
  background-color: white;

  display: grid;
  align-content: center;
}

.homepage-text > p {
  margin-bottom: 1rem;
}

.homepage-taste {
  font-size: 2rem;
  grid-area: 4 / 4 / 5 / 5;
  display: grid;
  place-content: center;
  z-index: 4;
  background-color: rgb(0, 0, 0);
  color: white;
}

.homepage-image-wrapper {
  grid-area: 3 / 1 / 5 / 4;
  overflow: hidden;
  z-index: 1;
}

.homepage-pipe {
  filter: grayscale();
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gradient-bg {
  z-index: 0;
  grid-area: 1 / 2 / -1 / -1;
  background-image: repeating-radial-gradient(
    circle at 30% 10%,
    #535353,
    #535353 5px,
    #eee 20px,
    #eee 100px
  );
  background-position: 50% 10%;
  filter: opacity(20%);
}

/* Menu page */
.menu-main {
  background-color: var(--main-bg-color);
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "restaurant-name restaurant-name"
    "entrees entrees"
    "mains mains"
    "desserts drinks";
}

.menu-name {
  text-align: center;
  font-size: 3rem;
  margin-block: 1rem;
}

.span2 {
  grid-column: span 2;
}

.menu-header {
  text-align: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}

.menu-item {
  margin: 1rem;
  border-bottom: 2px solid black;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
}

.menu-item__name {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.menu-name {
  grid-area: restaurant-name;
}

.entrees {
  grid-area: entrees;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mains {
  grid-area: mains;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.desserts {
  grid-area: desserts;

  display: grid;
  grid-template-columns: 1fr;
}

.drinks {
  grid-area: drinks;

  display: grid;
  grid-template-columns: 1fr;
  /* Without this the vertical space is distributed equally for some reason */
  align-content: start;
}

.drink-item {
  display: flex;
  margin: 1rem;
}

.drink-item__filler {
  border-bottom: 2px dotted black;
  flex-grow: 1;
}

/* Contact page */
.contact-main {
  background-color: var(--main-bg-color);
  padding: 1rem;
}

.contact-main h2 {
  text-align: center;
  margin-block: 1rem;
}

.staff-cards {
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.staff-card {
  border: 1px solid black;
  /* width: 300px; */
  padding: 0.5rem;

  display: grid;
  grid-template-areas:
    "image name"
    "image title"
    "blurb blurb";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 0.5rem;

  box-shadow: 2px 2px black;
}

.staff-image {
  grid-area: image;
  place-self: center;
  width: 75px;

  overflow: hidden;
}

.staff-name {
  grid-area: name;
  align-self: end;
  font-weight: bold;
}

.staff-title {
  grid-area: title;
  align-self: start;
}

.staff-blurb {
  grid-area: blurb;
}

.staff-opening {
  border: 1px dashed black;
  padding: 1rem;

  display: grid;
  text-align: center;
  place-content: center;
}

.staff-opening > span {
  text-transform: capitalize;
  font-weight: bold;
}

/*  */
.info-boxes {
  display: grid;
  row-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.hour-grid {
  display: grid;
  padding: 1rem;
  gap: 1.5rem 0.5rem;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.hours-graph {
  display: flex;
  align-items: center;
  gap: 2px;
}

.hour {
  position: relative;
  flex-grow: 1;
}

.open {
  height: 8px;
  background-color: black;
}

.closed {
  height: 2px;
  background-color: gray;
}

.hour.open + .hour.closed::before {
  content: attr(data-hour);
  position: absolute;
  top: 250%;
  left: -50%;
}

.hour.closed + .hour.open::before {
  content: attr(data-hour);
  position: absolute;
  top: -250%;
  left: -50%;
}

.contact-information {
  display: flex;
  flex-direction: column;
}

.contact-grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  grid-template-columns: auto 1fr;
}

.contact-icon {
  width: 40px;
}

.wrap-grid {
  flex-grow: 1;
  display: grid;
  place-content: center;
}

/* color idea */
.info-boxes {
  border: 1px solid black;
}

.contact-information {
  color: white;
  fill: white;
  background-color: black;
}
